source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/efuse/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/esp_common/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/esp_hw_support/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/esp_libc/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/esp_rom/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/esp_security/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/esp_stdio/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/esp_system/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/freertos/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/hal/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/log/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/soc/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/spi_flash/Kconfig"