source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/bt/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/console/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/driver/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/efuse/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/esp-tls/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/esp_adc/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/esp_coex/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/esp_common/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/esp_driver_bitscrambler/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/esp_driver_cam/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/esp_driver_dma/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/esp_driver_gpio/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/esp_driver_i2c/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/esp_driver_i2s/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/esp_driver_isp/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/esp_driver_jpeg/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/esp_driver_ledc/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/esp_driver_parlio/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/esp_driver_rmt/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/esp_driver_sdmmc/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/esp_driver_spi/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/esp_driver_tsens/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/esp_driver_uart/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/esp_driver_usb_serial_jtag/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/esp_eth/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/esp_event/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/esp_gdbstub/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/esp_http_server/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/esp_hw_support/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/esp_lcd/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/esp_libc/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/esp_mm/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/esp_netif/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/esp_partition/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/esp_phy/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/esp_pm/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/esp_psram/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/esp_ringbuf/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/esp_rom/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/esp_security/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/esp_stdio/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/esp_system/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/esp_timer/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/esp_wifi/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/fatfs/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/freertos/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/hal/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/heap/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/log/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/lwip/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/mbedtls/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/nvs_flash/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/nvs_sec_provider/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/pthread/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/sdmmc/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/soc/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/spi_flash/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/spiffs/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/tcp_transport/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/vfs/Kconfig"
source "E:/Esp32/Espressif/frameworks/esp-idf-v6.1/components/wear_levelling/Kconfig"
source "C:/Users/Administrator/Desktop/OLed IMU/xiaozhi-esp32-main/xiaozhi-esp32-main/managed_components/cube32esp__xpowerslib/Kconfig"
source "C:/Users/Administrator/Desktop/OLed IMU/xiaozhi-esp32-main/xiaozhi-esp32-main/managed_components/esphome__esp-hub75/Kconfig"
source "C:/Users/Administrator/Desktop/OLed IMU/xiaozhi-esp32-main/xiaozhi-esp32-main/managed_components/espressif2022__esp_emote_gfx/Kconfig"
source "C:/Users/Administrator/Desktop/OLed IMU/xiaozhi-esp32-main/xiaozhi-esp32-main/managed_components/espressif2022__image_player/Kconfig"
source "C:/Users/Administrator/Desktop/OLed IMU/xiaozhi-esp32-main/xiaozhi-esp32-main/managed_components/espressif__adc_battery_estimation/Kconfig"
source "C:/Users/Administrator/Desktop/OLed IMU/xiaozhi-esp32-main/xiaozhi-esp32-main/managed_components/espressif__bq27220/Kconfig"
source "C:/Users/Administrator/Desktop/OLed IMU/xiaozhi-esp32-main/xiaozhi-esp32-main/managed_components/espressif__button/Kconfig"
source "C:/Users/Administrator/Desktop/OLed IMU/xiaozhi-esp32-main/xiaozhi-esp32-main/managed_components/espressif__cjson/Kconfig"
source "C:/Users/Administrator/Desktop/OLed IMU/xiaozhi-esp32-main/xiaozhi-esp32-main/managed_components/espressif__cmake_utilities/Kconfig"
source "C:/Users/Administrator/Desktop/OLed IMU/xiaozhi-esp32-main/xiaozhi-esp32-main/managed_components/espressif__esp-dsp/Kconfig"
source "C:/Users/Administrator/Desktop/OLed IMU/xiaozhi-esp32-main/xiaozhi-esp32-main/managed_components/espressif__esp32-camera/Kconfig"
source "C:/Users/Administrator/Desktop/OLed IMU/xiaozhi-esp32-main/xiaozhi-esp32-main/managed_components/espressif__esp_audio_codec/Kconfig"
source "C:/Users/Administrator/Desktop/OLed IMU/xiaozhi-esp32-main/xiaozhi-esp32-main/managed_components/espressif__esp_cam_sensor/Kconfig"
source "C:/Users/Administrator/Desktop/OLed IMU/xiaozhi-esp32-main/xiaozhi-esp32-main/managed_components/espressif__esp_codec_dev/Kconfig"
source "C:/Users/Administrator/Desktop/OLed IMU/xiaozhi-esp32-main/xiaozhi-esp32-main/managed_components/espressif__esp_image_effects/Kconfig"
source "C:/Users/Administrator/Desktop/OLed IMU/xiaozhi-esp32-main/xiaozhi-esp32-main/managed_components/espressif__esp_io_expander/Kconfig"
source "C:/Users/Administrator/Desktop/OLed IMU/xiaozhi-esp32-main/xiaozhi-esp32-main/managed_components/espressif__esp_jpeg/Kconfig"
source "C:/Users/Administrator/Desktop/OLed IMU/xiaozhi-esp32-main/xiaozhi-esp32-main/managed_components/espressif__esp_lcd_touch/Kconfig"
source "C:/Users/Administrator/Desktop/OLed IMU/xiaozhi-esp32-main/xiaozhi-esp32-main/managed_components/espressif__esp_lcd_touch_cst816s/Kconfig"
source "C:/Users/Administrator/Desktop/OLed IMU/xiaozhi-esp32-main/xiaozhi-esp32-main/managed_components/espressif__esp_lvgl_port/Kconfig"
source "C:/Users/Administrator/Desktop/OLed IMU/xiaozhi-esp32-main/xiaozhi-esp32-main/managed_components/espressif__esp_mmap_assets/Kconfig"
source "C:/Users/Administrator/Desktop/OLed IMU/xiaozhi-esp32-main/xiaozhi-esp32-main/managed_components/espressif__esp_sccb_intf/Kconfig"
source "C:/Users/Administrator/Desktop/OLed IMU/xiaozhi-esp32-main/xiaozhi-esp32-main/managed_components/espressif__esp_video/Kconfig"
source "C:/Users/Administrator/Desktop/OLed IMU/xiaozhi-esp32-main/xiaozhi-esp32-main/managed_components/espressif__i2c_bus/Kconfig"
source "C:/Users/Administrator/Desktop/OLed IMU/xiaozhi-esp32-main/xiaozhi-esp32-main/managed_components/espressif__iot_usbh_cdc/Kconfig"
source "C:/Users/Administrator/Desktop/OLed IMU/xiaozhi-esp32-main/xiaozhi-esp32-main/managed_components/espressif__iot_usbh_rndis/Kconfig"
source "C:/Users/Administrator/Desktop/OLed IMU/xiaozhi-esp32-main/xiaozhi-esp32-main/managed_components/espressif__knob/Kconfig"
source "C:/Users/Administrator/Desktop/OLed IMU/xiaozhi-esp32-main/xiaozhi-esp32-main/managed_components/espressif__mqtt/Kconfig"
source "C:/Users/Administrator/Desktop/OLed IMU/xiaozhi-esp32-main/xiaozhi-esp32-main/managed_components/espressif__usb/Kconfig"
source "C:/Users/Administrator/Desktop/OLed IMU/xiaozhi-esp32-main/xiaozhi-esp32-main/managed_components/espressif__usb_host_uvc/Kconfig"
source "C:/Users/Administrator/Desktop/OLed IMU/xiaozhi-esp32-main/xiaozhi-esp32-main/managed_components/laride__heatshrink/Kconfig"
source "C:/Users/Administrator/Desktop/OLed IMU/xiaozhi-esp32-main/xiaozhi-esp32-main/managed_components/lvgl__lvgl/Kconfig"
source "C:/Users/Administrator/Desktop/OLed IMU/xiaozhi-esp32-main/xiaozhi-esp32-main/managed_components/tny-robotics__sh1106-esp-idf/Kconfig"